.contact {
    height: 400px;
    background-color: rgb(16, 14, 48);
    color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
.firstname {

}
*/
.email {
    padding-top: 10px;
}

.message {
    padding-top: 10px;
}

.submit {
    padding-top: 10px;
}
