.intro-container {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 100px;
}

.intro-container h1 {
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    padding: 30px;
    background-color: black;
    border-radius: 30px;
    font-size: 30px;
}