.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
    text-transform: uppercase;
    text-decoration: inherit;
    margin-left: 30px;
    outline: none;
}