.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

.footer-center {
   color: azure;
   font-family: 'Courier New', Courier, monospace;
}

.footer-ig {
    outline: none;
}

.footer-tw {
    outline: none;
}